<section class="mt-5">
    <div class="container mt-5 mb-5 p-5 bg-theme">
      <h1 class="text-white text-center">About Us</h1>
  
      <div class="p-5 mt-4 bg-secondary-theme text-theme-primary">
        <p>
          Georges Duby (1919-1996) has achieved near iconic status as the most
          original and influential postwar historian of medieval society. He wrote
          incisively, with flair and elegance, on issues critical to our
          understanding of the Middle Ages, notably the formation of feudal
          society, the nature of the aristocratic family, and the relation of
          "mental attitudes" to the medieval social order. Inspired by Jules
          Michelet, to whom he frequently alluded and with whom he shared a number
          of traits,1 his books reached a large general audience, and a few became
          instant classics.
        </p>
        <p>
          Yet only after taking the turn to social history in the 1960s, partly
          under the influence of structural anthropology, did he develop the
          highly personal view of medieval society now associated with his name.
          While his probing inquiries into the attitudes and practices of medieval
          people have proved stimulating to medievalists and general readers
          alike, they have also elicited criticism for both their methodology and
          substance. Before considering some of the implications of those
          inquiries, it would be useful to review briefly his major works.
        </p>
        <p>
          While his probing inquiries into the attitudes and practices of medieval
          people have proved stimulating to medievalists and general readers
          alike, they have also elicited criticism for both their methodology and
          substance. Before considering some of the implications of those
          inquiries, it would be useful to review briefly his major works.
        </p>
  
        <div class="text-center">
          <button class="btn btn-info btn-sm mt-4 btn-theme">Back to Home</button>
        </div>
      </div>
    </div>
  </section>
  