<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://images.pexels.com/photos/7482648/pexels-photo-7482648.jpeg?auto=compress&cs=tinysrgb&w=600&lazy=load"
          alt=""
        />
        <div class="card-body">
          <small class="bg-light text-danger text-center">Design</small>
          <small class="bg-light text-success text-center ml-2">Featured</small>
          <small class="bg-light text-info text-center ml-2"
            >View - 100,256</small
          >
          <small class="bg-light text-warning text-center ml-2"
            >LAST UPDATED - SEP 20, 2021</small
          >
          <h1 class="mt-3 mb-3">How to start dfeehhd hhjjfh  afgggsg</h1>

          <p>Georges Duby (1919-1996) has achieved near iconic status as the most original and influential postwar historian of medieval society. He wrote incisively, with flair and elegance, on issues critical to our understanding of the Middle Ages, notably the formation of feudal society, the nature of the aristocratic family, and the relation of "mental attitudes" to the medieval social order. Inspired by Jules Michelet, to whom he frequently alluded and with whom he shared a number of traits,1 his books reached a large general audience, and a few became instant classics.2 His public lectures at the College de France drew overflowing crowds, and his radio and television productions made him a media celebrity. Election to the Academie Francaise in 1987 confirmed his eminence. In his last years a round of festchriften commemorated his achievements, and his longtime publisher, Gallimard, reprinted his major works in two convenient paperback volumes.3

            Duby's early works, firmly rooted in the French tradition of rural economic history, provided the conceptual framework for his entire oeuvre. Yet only after taking the turn to social history in the 1960s, partly under the influence of structural anthropology, did he develop the highly personal view of medieval society now associated with his name. While his probing inquiries into the attitudes and practices of medieval people have proved stimulating to medievalists and general readers alike, they have also elicited criticism for both their methodology and substance. Before considering some of the implications of those inquiries, it would be useful to review briefly his major works.</p>
        </div>
      </div>
    </div>
    <div class="col-md-3">
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
        <app-post-card></app-post-card>
    </div>
  </div>
</div>
